body, html {
  /* background: url(../../img/background.jpg) no-repeat center center; */
  /* background-size: cover; */
  margin: 0rem;
  padding: 0rem;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

hr {
  margin: 2.5rem auto 2.5rem auto;
  width: 80%;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.navbar-custom {
  background-color: #29292b;
}

.navbar-custom, .navbar-brand {
  color: #f1f1d9 ;
}

.toggle-icon {
  color: #f1f1d9 !important;
}

nav .navbar-nav li a {
  color: #f1f1d9 !important;
}

nav .navbar-nav li a:hover {
  color: #857aff !important;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #DEF2F1;
}

th, td {
  font-size: 1rem;
  border-bottom: 0.063rem solid #000000;
  margin: 0rem ;
  padding: 0.25rem !important;
}

tr:nth-child(even) {
  background-color: #C8E9E8;
}

.space {
  margin-left: auto;
  margin-right: auto;
  width: 50rem;
  max-width: 50rem;
  height: 2rem;
}

.img-width {
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

input[type=text] {
  font-size: 1.5rem;
}

.p-table {
  margin-top: 1.125rem;
}

.edit-icon {
  margin-top: 1.125rem;
  font-size: 1.5rem;
}

a, .edit-icon {
  color: #857aff;
}

th, .th-statistic {
  font-size: 1.25rem;
}

/* DROPDOWN */
/* Style The Dropdown Button */
.dropdownbutton {
  color: #f1f1d9 !important;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #29292b;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-item {
  background-color: #29292b;
}

.dropdown-menu {
  background-color: #29292b;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-menu a:hover {
  background-color: #525257;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}