body, html {
  /* background: url(../../img/background.jpg) no-repeat center center; */
  /* background-size: cover; */
  margin: 0rem;
  padding: 0rem;
}
hr {
  margin: 2.5rem auto 2.5rem auto;
  width: 80%;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.container {
  background-color: #DEF2F1;
  margin-left: auto;
  margin-right: auto;
  width: 50rem;
  max-width: 50rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #DEF2F1;
}

th, td {
  /* font-size: 1.125rem; */
  margin: 0rem;
  padding: 0rem;
  border-bottom: 0.063rem solid #000000;
}

tr:nth-child(even) {
  background-color: #C8E9E8;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}


.space {
  margin-left: auto;
  margin-right: auto;
  width: 50rem;
  max-width: 50rem;
  height: 2rem;
  background-color: #DEF2F1;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

input[type=text] {
  font-size: 1.5rem;
}